<div class="container">
  <div>
    <app-flat-form #flatForm (flatEdited)="flatEdited($event)"></app-flat-form>
  </div>
  <div class="row">
    <div class="col">
      <app-filter-settings (filterUpdated)="filterParamsUpdated($event)">
      </app-filter-settings>
    </div>
    <div class="col">
      <app-sort-settings (sortUpdated)="sortParamsUpdated($event)">
      </app-sort-settings>
    </div>
  </div>
  <div>
    <app-distance-order (distanceOrderUpdated)="distanceOrderUpdated($event)"></app-distance-order>
  </div>
  <div>
    <app-page-request *ngIf="showPagination()" (pageRequestUpdated)="pageRequestUpdated($event)" [page]="page"></app-page-request>
    <app-flat-table (flatDeleted)="flatDeleted($event)" (flatCompared)="flatCompared($event)" [flatForm]=flatForm [flats]="flats"></app-flat-table>
  </div>
</div>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
