<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Creation date</th>
    <th scope="col">Area</th>
    <th scope="col">Number of rooms</th>
    <th scope="col">Furnish</th>
    <th scope="col">View</th>
    <th scope="col">Transport</th>
    <th scope="col">Coordinates</th>
    <th scope="col">House info</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tr *ngFor="let flat of flats">
    <th scope="row">{{flat.id}}</th>
    <td>{{flat.name}}</td>
    <td>{{flat.creationDate | date:'medium'}}</td>
    <td>{{flat.area}}</td>
    <td>{{flat.numberOfRooms}}</td>
    <td>{{flat.furnish}}</td>
    <td>{{flat.view}}</td>
    <td>{{flat.transport}}</td>
    <td>({{flat.coordinates.x}}; {{flat.coordinates.y}})</td>
    <td>{{flat.house.name}} (built in {{flat.house.year}}, {{flat.house.numberOfFloors}}
      floors, {{flat.house.numberOfFlatsOnFloor}} flats on floor, {{flat.house.numberOfLifts}} lifts)
    </td>
    <td>
      <button type="button" class="btn btn-warning btn-sm" (click)="editFlat(flat)">Edit</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="deleteFlat(flat)">Delete</button>
    <td>
  </tr>
</table>
